

$timeline-content-padding-right : 1em 0 0 4em;
$timeline-content-padding-left : 1em 0 0 4em;
$timeline-content-padding : 1em 0 0 2em;

$timeline-icon-size :  size-40 ;

@import "~bulma/bulma";
@import '~bulma-timeline';
